h1{
    font-weight: 600;
    color: #2f56f6;
    text-aign: center;
    font-size: 48;
}

/* navbar*/

@media screen and (min-width: 801px) {
     .navbar {
       /* font-size: 80px; */
       height: 70px;
     }

     .navbar a {
         line-height: 70px;
         font-size: 25px;
     }

     .navbar a.logo {
         line-height: 70px;
         font-size: 25px;
     }

     .foot {
         height: 40px;
     }

     .foot p {
         font-size: 10px;
     }

 }

/* make navbar and footer more responsive */
 @media screen and (max-width: 800px) {
     .navbar {
       height: 14vw;
     }

     .navbar a {
         line-height: 14vw;
         font-size: 4vw;
     }

     .navbar a.logo {
         line-height: 14vw;
         font-size: 5vw;
     }

     .foot {
         height: 8vw;
     }

     .foot p {
         font-size: 2vw;
     }
 }


/* navbar class */
 /* .navbar {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     width: 100%;
     background: black;
 }

/* navbar element style */

.navbar a {
    float: right;
    background-color: black;
    display: inline-block;
    padding: 0 18px;
    text-decoration: none;
    color: grey;
}

/* logo */
.navbar a.logo {
    float: left;
    font-weight: bolder;
    color: grey;
    text-decoration: none;
    padding: 0 18px;
}

/* active navbar page */
.navbar a.active {
    text-decoration: none;
    color: #087fb5;
}

/* hovering over a navbar element */
.navbar a:hover {
    background-color: grey;
    color: white;

}


a {
  color: #00ffff;
  text-decoration: none;
  font-size: 17px;
}






input[type=checkbox]{
 display: none;
}
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu {
 display:none;
 position: absolute;
 background-color:teal;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.menu li:hover {
 display: inline-block;
 background-color:#4c9e9e;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
}

.footer {
    font-size: 10px;
    padding: 20px;
    text-align: center;
    background: #Ececec;
    display: flex;
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }